#intro {
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding: 2rem 0;
}

.hello {
    font-size: 1.75rem;
    font-weight: 300;
    margin-top: 3rem;
}

.introText {
    font-size: 3rem;
    margin-top: 3rem;
    color: var(--introText-color);
}

.introName {
    color: #87CEEB;
}

.introPara {
    font-size: 1.5rem;
    margin-top: 2rem;
    line-height: 1.5;
}

.animatedElement {
    animation: fadeInMoveUp 1.5s forwards;
    opacity: 0;
}

.photo {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: auto;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        filter: brightness(1.1);
    }
}


@media screen and (max-width: 840px) {
    .introContent {
        font-size: 1rem;
    }

    .hello,
    .introText {
        margin-top: 2rem;
    }

    .introPara {
        font-size: 1.25rem;
    }
}

@keyframes fadeInMoveUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}